# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
.env

# ======================
# Flask / Backend Runtime
# ======================
instance/
uploads/
static/profile_pics/
*.db

# ======================
# Dataset / File Besar
# ======================
data/
dataset/
*.zip
*.tar
*.tar.gz

# ======================
# Frontend
# ======================
frontend/node_modules/
frontend/dist/

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/